[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */__pycache__/*
    *.pyc
    */venv/*
    */home/travis/virtualenv/*
    */usr/lib/python3/*
    */__init__.py
    */api/helpers/__init__.py
    */api/helpers/errors.py
    tests/*
    */run.py
    */config.py

show_missing = True