/*********** base styles ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global/Custom Components */
a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fffffa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3c4859;
}

body.modal-open {
  overflow: hidden;
}

footer, 
header, 
section {
    display: block;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
h1,
h2,
h3,
h4 {
    font-family: 'sans-serif';
    font-weight: 500;
    color: black;
}
/* Home Page */

header {
  float: left;
  width: 100%;
  padding: 5px 0px;
  box-shadow: 0px 5px 26px #9a9999;
  background-color: ivory;
}

section {
  float: left; 
  width: 100%; 
  padding: 0px 0px;
}

.logo {
  display: flex; 
  float: left;
}

.logo-name {
  font-weight: 600;
  font-size: 2em;
  padding: 15px 40px;
  text-decoration: none;
  color: #0facf3;
  letter-spacing: 0.07em;
}

.green-color {
  color: green;
}

.nav {
  float: right; 
  margin-top: 35px; 
  margin-bottom: 8px;
}

.login-link, 
.signup-link {
  margin-left: 15px;
  padding: 8px 27px;
  background: darkslategray;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #194c22;
}

.login-link:hover, 
.signup-link:hover {
  background: black;
  color: lightgreen;
}

@media only screen and (min-width : 320px) and (max-width : 454px) {
  .signup_link, .login_link {position: relative; bottom: 24px;}
}

@media only screen and (min-width : 320px) and (max-width : 741px) {
  .logo-name-style {
      font-size: 26px;
}
}

.btn {
  padding: 12px 25px;
  border-radius: 4px;
  display: inline-block;
  min-width: 110px;
  text-align: center;
}

.btn-hollow {
  border: 2px solid #fffffa;
  color: #fffffa;
}

.btn-white {
  background: #fffffa;
  color: #0facf3;
  border: 2px solid #fffffa;
}


/* background image Section */
.background-img {
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(11, 36, 162, 0.5),
      rgba(40, 180, 133, 0.8)
    );
  background-size: cover;
  height: calc(100vh - 74px);
  justify-content: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
}

.background-title,
.background-paragraph {
  margin-bottom: 40px;
}

.background-title {
  font-size: 3em;
  text-transform: uppercase;
}

.background-paragraph {
  font-size: 1.5em;
}

.background-link {
  display: flex;
  width: 26%;
  justify-content: space-between;
}

footer {
  float: left;
  width: 100%;
  background: #fffffa;
}

.copyright {
  text-align: center; 
  font-size: 15px;
}

section {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

section > .btn {
  align-self: center;
}

.steps {
  display: flex;
  justify-content: space-between;
}

.column.step {
  flex-basis: 50%;
  flex-direction: column;
  padding: 20px 50px;
}

.column .circle-icon {
  align-self: center;
  margin-bottom: 20px;
}
.how-to{
  background: #dfe0e2;
}
.section-title,
.section-text {
  position: relative;
  margin-bottom: 15px;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 130px;
  border: 1.8px solid #0facf3;
}

.mb-1 {
  margin-top: 50px; 
}
 
/* login styles*/
.float-right {
  float: right;
  margin-right: 100px;
}

.login-box {
  width: 389px; 
  height: 400px;
  box-shadow: 1px 2px 5px 3px #d2cbcb; 
  margin-top: 30px;
  padding-bottom: 20px; 
  background: rgba(11, 36, 162, 0.5);
}

input, button {
  font-family: 'Nunito sans', sans-serif;
  font-size: 1em;
  margin: 0;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

input::placeholder {
  color: black;
  font-size: 16px;
}

.login-btn{
  margin: 15px 0px;
  padding: 0.3em 1.5em;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 4px;
  display: inline-block;
  min-width: 110px;
  font-family: 'Nunito sans', sans-serif;
  font-weight: 200;
}

.login-form {
  float: left;
  margin: 10px;
}

.login-form {
  float: left;
  margin: 10px;
}


.login-input {
  width: 350px;
  border: 1px solid #C4C4C4;
  padding: 15px;
  margin-bottom: 1.5em;
  background-color: #EAEAEB
}

.login-text {
  color: green;
  text-align: center;
  margin-top: 1em;
  padding: 10px;
     
}

.login-page {
  background: #f5f9f7; 
  float: left; 
  width: 100%;padding: 10px 0px;
}

.sign-text {
  float: left;
}

.sign-style {
  color: green; 
  font-size: 40px; 
  margin: 0px; 
  margin-top: 40px;
  padding: 15px;
}
.neutral {
  text-transform: none;   
}

.sign-style-min {
  color: black;
  margin: 0;
  margin-bottom: 5px;
  padding: 15px;
  font-family: 'Nunito sans', sans-serif;
  font-size: 22px;
}

/* signup Section */
.signup-content {
  display: flex;
  flex-direction: column;
}

.signup-page {
  background: #dfe0e2;
  padding: 50px 40px 130px;
  position: relative;
}

.signup-container > .signup-title,
.signup-form {
  align-self: center;
}

.signup-form {
  width: 45%;
  background: #fffffa;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  margin-top: 25px;
}

.signup-input{
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  margin: 0;
  text-decoration: none;
  outline: none;
  height: 45px;
  text-align: left;
  border: 2px solid #0facf3;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 10px;
}
label {
  margin-bottom: 5px;
  font-weight: 600;
}

label span {
  color: #ef271b;
  font-size: 18px;
}

.form-element {
  margin-bottom: 15px;
}

/* create report styles*/

.form-wrapper {
  padding-top: 0px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px; 
}

.form-msg {
  margin-left: 80px;
  padding: 15px;
  font-family: 'Righteous', cursive;
  font-size: 22px;
  color: black;

}

.mb-1rem {
  margin-bottom: 1rem;
}


.col-md-4{
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 33.333333%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.input-align {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: #faf7d6f8;
  background-clip: padding-box;
  border: 1px solid #00000083;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label > span {
  color: black;
  font-size: 12px;
  font-weight: 200;
}

.input-align::placeholder {
  color: #00000077;
  opacity: 1;
}

.input-align-file {
display: block;
width: 100%;
}

textarea.input-align {
  height: auto;
}

.content-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
} 

.content-flex > .col,
.content-flex > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

input {
overflow: visible;
}

button {
  border-radius: 0;
  overflow: visible;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover{
  color: #fff;
  background-color: #343fce;
  border-color: #343fce;
}

/* Profile styles */

.profile-padding {
  padding: 2px 4px;
}

.tab-content {
  border: 1px solid #C5D0DC;
  padding: 16px 12px;
  position: relative
}

.profile-picture {
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 4px;
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.profile-user-info {
  display: table;
  width: 98%;
  width: calc(100% - 24px);
  margin: 0 auto
}

.profile-info-row {
  display: table-row
}

.profile-info-name {
  display: table-cell;
  border-top: 1px dotted rgb(183, 194, 204);
  padding: 6px 10px 6px 4px;
  font-weight: 400;
  color: #667E99;
  background-color: transparent;
  width: 110px;
  vertical-align: middle
}

.profile-info-value {
  padding: 6px 4px 6px 6px
}

.profile-info-value>span::before {
  display: none
}

.profile-table {
  z-index: 100;
  flex-basis: 73%;
}

table {
  background: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

tr {
  border-left: 3px solid #0facf3;
}

td .form-element {
  margin-bottom: 0;
}

td,
th {
  padding: 20px 10px;
  border-bottom: 1px solid #dddddd;
}

td.issue {
  width: 30px;
}

/* Reports Table */
.stats-table {
  margin-top: 20px;
  background: #fffffa;
}

.profile-table {
  z-index: 100;
  flex-basis: 73%;
}

.admin-table {
  flex-basis: 100%;
}

.admin-table > .stats-table {
  width: 100%;
}

.admin-report {
  display: flex;
  justify-content: space-between;
  background: #fffffa;
  padding: 25px;
  margin-top: 20px;
  border-left: 3px solid #0facf3;
}

.report-stat {
  text-align: center;
}

.report-stat > p {
  font-size: 3em;
}

.report-stat > span {
  font-weight: 600;
}

td .report-user {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

tr > td:nth-child(4),
tr > td:nth-child(5) {
  text-align: center;
}

tr > td:last-child {
  text-align: center;
}

.report-table {
  background: #dfe0e2;
  padding: 50px 40px 130px;
  position: relative;
}

/* Reponsiveness */
@media screen and (min-width: 500px) and (max-width: 768px) {
  section {
    padding: 20px 60px;
  }
}

.error{
  color:red;
}
.success{
	color:lightgreen;
}